#layout_footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
#layout_container {
  margin-bottom: 20px;
}
#contact_box {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: #e7ebf1;
  margin-top: -326px;
  border: #28497c solid 1px;
  overflow-y: scroll;
}
#contact_box p {
  margin: 0px;
  border-bottom: #536d96 solid 1px;
  color: black;
  text-align: left;
  padding: 2px;
}
