#layout_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#layout_container {
    margin-bottom: 20px;
}

#contact_box {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: #FFFFFF;
    margin-top: -326px;
    border: #28497c solid 1px;
    overflow-y:auto;

    p {
        margin: 0px;
        border-bottom: #536d96 solid 1px;
        color: black;
        text-align: left;
        padding: 2px;
    }
    p.newMessage {
        background-color: #e7ebf1;
    }
}

.conversation_contact {
    width: 200px;
    a {
        img {
            //width: 12px;
            //height: 12px;
            display: none;
        }
    }
}

.conversation_window {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: white;
    margin-top: -326px;
    border: #28497c solid 1px;
    overflow-y:auto;
    color: black;
    font-size: 0.85em;
    line-height: 15px;
    text-align: left;
    .scroll {
        height: 274px;
        overflow-y: scroll;
        overflow-x: hidden;
        section {
            header {
                display: none;
            }
            article.message {
                header,time {
                    display: none;
                }
            }
        } 
    } 
    input {
        width: 191px;
        bottom: 0px;
        position: absolute;
    }
}