#conversation {
    height: 0px;
    overflow-y:auto;
    padding-bottom: 2px;
}

#message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: none; 
    height: 60px;
}

.message {
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 4px;
    margin: 5px;
}

.mine {
    background-image: -webkit-linear-gradient(#dae9fa 0%, #90b6e5 100%); 
    background-image: -moz-linear-gradient(#dae9fa 0%, #90b6e5 100%); 
    background-image: -o-linear-gradient(#dae9fa 0%, #90b6e5 100%); 
    background-image: linear-gradient(#dae9fa 0%, #90b6e5 100%);
    margin-left: 5%;
    text-align: right;
}

.other {
    background-image: -webkit-linear-gradient(#dff9de 0%, #b3e3b1 100%); 
    background-image: -moz-linear-gradient(#dff9de 0%, #b3e3b1 100%); 
    background-image: -o-linear-gradient(#dff9de 0%, #b3e3b1 100%); 
    background-image: linear-gradient(#dff9de 0%, #b3e3b1 100%);
    margin-right: 5%;
}